<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css" th:href="@{/css/my.css}">
</head>
<body>
    <div class="m-container-small m-padded-tb-massive">
        <div class="ui error message m-padded-tb-massive">
            <div class="ui m-container">
                <div class="ui massive message" style="align-content: center">
                    错误页面------------404
                </div>
                <p>访问的资源不存在！</p>
            </div>
        </div>
    </div>

</body>
</html>